.navbar {
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: solid 0.5px black;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 0.5px black;
    padding-right: 5px;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-left: 3px;
}

.search-icon:hover {
    cursor: pointer;
    background-color: #eff3f8;
}

.left-icon-container {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-left: 10px;
}

.menu-icon {
    width: 25px;
    height: 25px;
    padding: 3px;
    color: black;
}

.youtube-icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    color: red;
}

.youtube-text {
    width: 82px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: #eff3f8;
    border-radius: 22px;
    border: solid 0.15px black;
}

.input-search {
    width: 600px;
    height: 38px;
    padding-inline: 5px;
    border: solid 0.5px black;
}

.right-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.account-icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    color: orange;
}

.account-icon:hover {
    cursor: pointer;
    background-color: #eff3f8;
    border-radius: 22px;
    border: solid 0.15px black;
}

.notification-icon {
    width: 25px;
    height: 25px;
    padding: 3px;
    color: rgb(56, 54, 54);
}

.notification-icon:hover {
    cursor: pointer;
    background-color: #eff3f8;
    border-radius: 22px;
    border: solid 0.15px black;
}